$primary: #53f14e !default; // Permite sobreescribir variables si ya están definidas
$secondary: #9bc4e7 !default;
$success: #1ab63e !default;
$info: #00c2b2 !default;
$warning: #ffec46 !default;
$light: #f6fffc !default;
$dark: #3e4347 !default;
$danger: rgb(216, 25, 0) !default; 

// Usa Bootstrap con @use
@use "bootstrap" with (
    $primary: $primary,
    $secondary: $secondary,
    $success: $success,
    $info: $info,
    $warning: $warning,
    $danger: $danger,
    $light: $light,
    $dark: $dark
);